body {
  display: flex;
  height: 700px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica,
    "Apple SD Gothic Neo", sans-serif;
  align-items: center;
  justify-content: center;
}
.main {
  display: block;
  align-items: center;
  background-color: #f8f9fa;
  width: 550px;
  padding: 10px 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}
.title {
  margin-top: 50px;
}
.title h1 {
  color: #03c75a;
  text-align: center;
  font-size: 49px;
}
.login {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.login_form {
  padding: 0;
  width: 100%;
}
.login_form input {
  height: 50px;
  width: 540px;
  padding: 0 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}
#submitBtn {
  background-color: #03c75a;
  color: white;
  border: none;
  width: 552px;
}
